.contactList {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.contactItem {
  position: relative;
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none;
}

.contactText {
  justify-self: start;
  font-style: italic;
  margin-right: 20px;
}

.deleteBtn {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px;
  border-radius: px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: #f1f1f1;
  border: 1px solid rgb(122, 122, 122);
}

.deleteBtn:hover,
.deleteBtn:focus {
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.527);
  color: white;
}

.deleteBtn::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transform: translateY(5px);
  background-color: rgba(255, 0, 0, 0.527);
  transition: width 200ms linear 0ms;
}
.deleteBtn:hover::after,
.deleteBtn:focus::after {
  width: 100%;
}
